.is-modal-open {
    overflow: hidden;
}

.bm {

    &-modal {
        --transition: .3s cubic-bezier(0.25, 0.1, 0.25, 1);

        --modal-zindex: 90;
        --modal-bg: rgba(0, 0, 0, .3);

        --dialog-margin: 20px;
        --dialog-max-width: 460px;

        --content-color: rgb(0, 0, 0);
        --content-bg: #fff;
        --content-shadow: 0px 4px 48px rgba(0, 0, 0, 0.15);

        --header-padding: 20px 20px 0;
        --body-padding: 20px 20px 40px;

        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--modal-zindex);
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        opacity: 0;
        background-color: var(--modal-bg);
        transition: opacity var(--transition);

        &.is-shown {
            opacity: 1;
        }
    }

    &-dialog {
        position: relative;
        width: auto;
        margin: var(--dialog-margin) auto;
        pointer-events: none;
        transform: translateY(-20px);
        transition: transform var(--transition);
        max-width: var(--dialog-max-width);

        &--centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - var(--dialog-margin) * 2);
        }

        .bm-modal.is-shown & {
            transform: none;
        }
    }

    &-close {
        align-self: flex-start;
        min-width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10px -10px -10px auto;
    }

    &-title {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--content-color);
        background: var(--content-bg);
        pointer-events: auto;
        background-clip: padding-box;
        outline: 0;
        box-shadow: var(--content-shadow);
    }

    &-header {
        display: flex;
        padding: var(--header-padding);

        .mb-title {
            margin-bottom: 0;
        }
    }

    &-body {
        padding: var(--body-padding);
    }

    &-btns {
        margin-top: 40px;
    }
}
